@import "../base/var";

.scoreboard {
	width:400px;
	position:relative;
	margin-top:50px;
	background-color:#0FF;

	&__box {
		width:33.33%;
		float:left;
	}

	&__text, &__score {
		display:block;
		vertical-align:top;
		font-size:1.65rem;
	}

	&__text {
		padding:5px;
		font-family: 'Merienda', cursive;

		&--X {
			background-color:$bgColorX;
		}

		&--O {
			background-color:$bgColorO;
		}

		&--Tie {
			background-color:$bgColorTie;
		}
	}

	&__score {
		margin-top:5px;
	}
}
